@use "../globals/variables.scss" as var;
@use "../globals/mixins.scss" as mix;
button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}
.close-button-menu {
  position: absolute;
  top: 3vw;

  right: 46vw;
  @include mix.baja {
    right: 42vw;
  }
}
.btn-welcome-join {
  width: 16rem;
  border-radius: 20px;
  color: white;

  padding: 0px 20px 0px 20px;
  background: var.$primary-color-red;
  border-style: none;
  height: 4.75rem;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  font-family: "Jockey One";
  font-style: normal;
  position: relative;
  z-index: 4;
  transition: all 0.4s ease-out;
  @include mix.mediaAlta {
    width: 13rem;
    height: 3.8rem;
    font-size: 22px;
    padding: 0px 10px 0px 10px;
  }
  @include mix.baja {
    width: 7rem;
    font-size: 15px;
    padding: 0px 10px 0px 10px;
    height: 3rem;
    border-radius: 15px;
  }
  &:hover {
    cursor: pointer;

    background-color: #000;
  }
}
.btn-join-jr {
  width: 8.5rem !important;
  height: 2.8rem !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 25px !important;
  border-radius: 10px !important;
  @include mix.media {
    display: none;
  }
  &:hover {
    background: var.$primary-color-blue;
  }
}
