@use "../globals/variables.scss" as var;
@use "../globals/mixins.scss" as mix;
.container-form {
  background: #ffb3d5;

  margin: 0 auto;
  margin-top: 7rem;

  .divider {
    background-image: url("/src/assets/divider.png");
    height: 15rem;
    background-size: cover;
    position: relative;
    bottom: 6%;
    width: 1420px;
    left: 17%;
    @include mix.mediaAlta {
      height: 11rem;
      position: relative;
      left: 273px;
      bottom: 58px;
      background-size: auto;
    }
    @include mix.baja {
      left: 0;
      width: 454px;
      height: 5rem;
      background-size: cover;
      bottom: 28px;
    }
  }

  .join-to-logo {
    text-align: center;
    align-content: center;
    h3 {
      font-family: "Jockey One";
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 70px;
      margin: 0;
    }
    .logo-black {
      background-image: url("/src/assets/logoBlack.png");
      height: 10rem;
      width: 22rem;
      background-size: cover;
      margin: 0 auto;
      @include mix.baja {
        height: 5rem;
        width: 11rem;
      }
    }
  }
  .form-text {
    width: 65%;
    margin: 0 auto;
    @include mix.media {
      width: 80%;
    }
    @include mix.baja {
      width: 90%;
    }
    h3 {
      font-family: "Cabin";

      font-weight: 500;
      font-size: 35px;
      line-height: 150%;
    }
    a {
      text-decoration: underline;
      text-decoration-color: #000;
      text-decoration-thickness: 2px;
      color: #000;
    }
    form {
      display: flex;
      flex-direction: column;
      //gap: 20px;
      label {
        padding-top: 20px;
        font-family: "Cabin";
        font-weight: 400;
        font-size: 25px;
        line-height: 150%;
        @include mix.baja {
          font-size: 17px;
        }
      }
      input,
      textarea {
        padding: 10px;
        font-family: "Cabin";
        font-weight: 400;
        font-size: 17px;
      }
      textarea {
        resize: none;
        height: 15rem;
      }
    }
    .terms-acept {
      padding-top: 20px;
    }

    input[type="checkbox"] {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }
    .checkbox {
      display: inline-block; // set to `inline-block` as `inline elements ignore `height` and `width`
      height: 20px;
      width: 20px;
      background: #fff;
      border: 2px #000 solid;
      margin-right: 4px;
      transition: background-image 0.3s ease;
      cursor: pointer;
      @include mix.baja {
        position: relative;
        top: 1vw;
      }
    }

    .checkbox--active {
      border: 2px rgb(0, 102, 255) solid;
      background: rgb(0, 136, 255);

      background-size: contain;

      transition: background-image 0.3s ease;
    }
  }
}
.btn-send-form {
  background: #ff0074;
  border-radius: 20px;
  border-style: none;
  width: 170px;
  height: 54px;
  font: bold 23px "Jockey One" !important;
  color: #ffffff;
  &:hover {
    cursor: pointer;
  }
  margin-top: 20px;
}
.no-check {
  opacity: 0.5;
}
.follow {
  width: 20%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 3rem;
  @include mix.media {
    width: 50%;
  }
  @include mix.Ultrabaja {
    width: 80%;
  }
  h2 {
    font-family: "Cabin";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    margin-bottom: 15px;
  }
  h4 {
    @include mix.baja {
      font-size: 1.5rem !important;
    }
  }
  .follow-img {
    display: flex;
    gap: 4rem;
  }
  .logo {
    width: 55px;
    height: 55px;
    object-fit: cover;
    @include mix.media {
      width: 40px;
      height: 40px;
    }
  }
}
.error-message {
  transition: all 0.3s ease;
  font-family: "Jockey One";
  color: #f00;
  padding: 10px 10px 10px 10px;
  margin-top: 0;
  background: #ffecec;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
