@use "../globals/variables.scss" as var;
@use "../globals/mixins.scss" as mix;
.OurSkillShooters {
  text-align: center;
  height: 65rem;
  @include mix.mediaAlta {
    height: 55rem;
  }
  @include mix.baja {
    height: 33rem;
  }
  .btn-div {
    position: relative;
    bottom: 17%;
    z-index: 11;
    @include mix.mediaAlta {
      bottom: 22%;
    }
    @include mix.media {
      bottom: 32%;
    }
    @include mix.baja {
      bottom: 11%;
    }
  }
  h1 {
    font-family: "Jockey One";
    font-style: normal;
    font-weight: 400;
    font-size: 5.5rem;
    line-height: 80px;
    text-transform: uppercase;
    color: var.$primary-color-blue;
    margin-top: 0;
  }
  span {
    color: var.$primary-color-red;
  }
  .mySwiperSkill {
    width: 60%;
    height: 40rem;
    border-radius: 5px;
    @include mix.baja {
      width: 100%;
      height: 25rem;
    }
  }
}
