$navColor: #000;
$primary-color-red: #ff0074;
$primary-color-blue: #479eea;
$primary-color-rose: #f37db4;
$primary-color-cian: #a2c8e9;
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Jockey+One&display=swap");
